body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 0;
}

.logo-lg {
    position: relative;
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.lyrics-1{
    position: absolute;
    width: 160px;
    height:160px;
    border-radius: 50%;
    background-color: red;
    border: 10px solid white;
    border-right-color: transparent;
    transform: rotate(-50deg);
}

.lyrics-2 {
    position: absolute;
    width: 50px;
    height:10px;
    background-color: white;
    left: 134px;
    top: 93px;
}

.circle {
    position: absolute;
    top: 40px;
    left: 60px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;

}

.lyrics-3 {
    position: absolute;
    width: 120px;
    height: 10px;
    background-color: white;
    transform: rotate(90deg);
    left: 40px;

}

.lyrics-4 {
    position: absolute;
    width: 30px;
    height: 10px;
    background-color: white;
    top: 150px;
    left: 96px;

}